<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest" packages="org.apache.logging">
  <Properties>
    <Property name="logPath">target/</Property>
    <Property name="logLayout">%T %-d{yyyy-MM-dd HH:mm:ss} [%-level] [%thread] %c{10} %m%n</Property>
  </Properties>

  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout">
        <Pattern>${logLayout}</Pattern>
      </Layout>
    </Appender>

    <Appender type="File" name="FILE" fileName="${logPath}file.log">
      <Layout type="PatternLayout">
        <Pattern>${logLayout}</Pattern>
      </Layout>
    </Appender>

    <RollingFile name="FILE-INFO" fileName="${logPath}info/info.log" filePattern="${logPath}info/info-%d{yyyy-MM-dd}.log">
      <Filters>
        <Filter type="ThresholdFilter" level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <Layout type="PatternLayout">
        <Pattern>${logLayout}</Pattern>
      </Layout>
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
      </Policies>
    </RollingFile>

    <RollingFile name="FILE-ERROR" fileName="${logPath}error/error.log" filePattern="${logPath}error/error-%d{yyyy-MM-dd}.log">
      <Filters>
        <Filter type="ThresholdFilter" level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <Layout type="PatternLayout">
        <Pattern>${logLayout}</Pattern>
      </Layout>
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="org.apache" level="info" additivity="true">
      <AppenderRef ref="FILE-ERROR"/>
    </Logger>

    <Logger name="org.springframework" level="info" additivity="true">
      <AppenderRef ref="FILE-ERROR"/>
    </Logger>

    <Logger name="org.apache.ibatis" level="info" additivity="true">
      <AppenderRef ref="FILE-INFO"/>
    </Logger>

    <Logger name="com.zaxxer.hikari" level="info" additivity="true">
      <AppenderRef ref="FILE-ERROR"/>
    </Logger>

    <Logger name="org.kirin.user" level="info" additivity="true">
      <AppenderRef ref="FILE-INFO"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>

</Configuration>